[submodule "subprojects/SDL3"]
	path = subprojects/SDL3
	url = https://github.com/libsdl-org/SDL.git
[submodule "subprojects/SDL3_image"]
	path = subprojects/SDL3_image
	url = https://github.com/libsdl-org/SDL_image.git
