[submodule "external/SDL3"]
	path = external/SDL3
	url = https://github.com/libsdl-org/SDL
[submodule "external/SDL_image"]
	path = external/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "external/libwebsockets"]
	path = external/libwebsockets
	url = https://libwebsockets.org/repo/libwebsockets
